@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(719deg);
  }
}
.swirl {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: url(../images/swirl.svg);
  background-size: 100% 100%;
}
.swirl:hover {
  animation: rotation 4s infinite cubic-bezier(0.5, 0.8, 0.8, 0.5);
}
.s-bubble {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background: var(--brooks-back);
  border-radius: 50%;
  max-width: 200px;
}
.text-bubble {
  align-self: center;
  position: relative;
  left: .1vw;
  width: 100%;
  height: 16vw;
  max-height: 200px;
  display:inline-table;
}
.text-bubble td {
  vertical-align: bottom;
  position: relative;
}
.b-title {
  top: -10px;
  vertical-align: text-bottom;
  font-family: Arial, Helvetica, sans-serif;
  left: 5%;
  position: relative;
  font-size: calc(0px + (260 - 14) * ((30vw + 10vh - 10px) / (1000 - 0)));
}
.s-bubble-contain{
  left: 2vw;
  width: 18%;
  max-width: 200px;
}
.speech-bubble {
  font-size: calc(1.5vh + .7vw);
  color: var(--bubble-text);
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  line-height: 1.3;
  margin-left: -1%;
	position: relative;
  left: 5%;
	background: var(--speech-back);
	border-radius: .4em;
  max-width: 90%;
  width: auto;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 92%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: var(--speech-back);
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -15px;
}

#gray {
  background-image: url("../images/FredGray.jpg");
  width: calc(925vh * .03);
  height: calc(990vh * .03);
  background-size: cover;
  border: 1px solid black;
}
#gray:after {
  border-right-color: gray;
}

#ems {
  background-image: url("../images/EMS.jpg");
  width: calc(925vh * .03);
  height: calc(990vh * .03);
  background-size: cover;
  border: 1px solid black;
}
#ems:after {
  border-right-color: gray;
}
