:root {
  /* text colors */
  --main-text: white;
  --bubble-text: var(--main-text);
  --link-text: var(--main-text);
  --guide-text: black;

  /* backgrounds */
  --brooks-back: #4287f5;
  --speech-back: #4287f5;
  --footer-back: grey;
  --info-back:   grey;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7.5%;
  background-color: var(--footer-back);
  color: var(--link-text);
  text-align: center;
  font-size: 4vh;
}

body {
  font-family: Helvetica, Arial, Sans-Serif;
}

.information {
  width: 100%;
  height: 92.5%;
  overflow: auto;
}

.guide {
  background-color: var(--info-back);
  color: var(--guide-text);
  width: 50px;
  font-size: 12px;
}

.footer-text {
  margin-top: 1.5%;
  text-decoration: none;
}
a:link {
  text-decoration: none;
  color:var(--link-text);
}
a:visited {
  color:var(--link-text);
}
a:hover {
  color:var(--link-text);
}
a:active {
  color:var(--link-text);
}

.view {
  border-collapse: collapse;
  width: 99%;
  height: 92.5%;
  table-layout: fixed;
}

table, td, th {
  vertical-align: top;
  border: 0px solid black;
}

.brooks-text {
  background-image: url("..images/text.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 100%;
  vertical-align: top;
}

.exp-guide {
  position: absolute;
  top: 45%;
  width: 64px;
  height: 64px;
  background: var(--info-back);
  border-radius: 50%;
  outline: 0;
  border: 0;
  background-image: url("../images/arrow.svg");
  background-position: 60% 50%;
  background-size: 75%;
  background-repeat: no-repeat;
}
.exp-guide:hover {
  background-position: 90% 50%;
  cursor: pointer;
}

.exp-guide:active {
  background: LightGray;
  background-image: url("../images/arrow.svg");
  background-position: 110% 50%;
  background-size: 75%;
  background-repeat: no-repeat;
}

body {
  overflow-x: hidden;
}
