@charset "utf-8";
	.NormalCharacterStyle
{
	font-family : Arial;
	font-size : 40px;
	letter-spacing : 0.2px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st0
{
	background : linear-gradient(0.09999999999999deg, rgba(255, 255, 255, 0) 0%, rgba(247, 247, 247, 0.09) 8.37%, rgba(226, 226, 226, 0.22) 21.18%, rgba(191, 191, 191, 0.38) 36.84%, rgba(142, 142, 142, 0.56) 54.76%, rgba(80, 80, 80, 0.77) 74.57%, rgba(6, 6, 6, 0.98) 95.7%, rgba(0, 0, 0, 1) 97.2%);
}
.st1
{
	background : #CCCCCC;
	background : rgba(204, 204, 204, 1);
}
.st2
{
	background : #666666;
	background : rgba(102, 102, 102, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	border-radius : 19px;
}
